// ----------------------------------------------------------------------------------------
//
//
//                                  MODAL
//
//
// ----------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------
// MODAL: Structure
// ----------------------------------------------------------------------------------------
#modal
    z-index: 11
    position: fixed
    top: 0
    bottom: 0
    width: 100%
    height: 100%
    display: none
    overflow-y: auto
    overflow-x: hidden
    align-items: center
    justify-content: center
    .wrap-modal
        display: none

    // ----------------------------------------------------------------------------------------
    // MODAL: Close
    // ----------------------------------------------------------------------------------------
    .close-modal
        position: absolute
        cursor: pointer
        background: transparent
        z-index: 2
        text-align: center

    // ----------------------------------------------------------------------------------------
    // MODAL: Force condition
    // ----------------------------------------------------------------------------------------
    &.forcemodal
        .close-modal
            display: none

    // ----------------------------------------------------------------------------------------
    // MODAL: Image
    // ----------------------------------------------------------------------------------------
    &.image-modal
        text-align: center

    // ----------------------------------------------------------------------------------------
    // MODAL: Loading
    // ----------------------------------------------------------------------------------------
    &.loadingmodal
        .icon-loadingmodal
            position: absolute
            top: 50%
            left: 50%
            animation: rotate 1s linear infinite
            border-radius: 50%

    // ----------------------------------------------------------------------------------------
    // MODAL: Text default
    // ----------------------------------------------------------------------------------------
    .text-modal
        overflow: hidden
        text-align: center
        p
            vertical-align: middle
            text-align: left
            display: inline-block
            @media #{$celular}
                text-align: center
                display: block
                margin-top: 15px
            @media #{$celularh}
                width: 400px
            @media #{$tablet}
                max-width: 580px
            @media #{$notebook}
                max-width: 880px
            @media #{$desktop}
                max-width: 1070px
        .icon-text-modal
            display: inline-block
            vertical-align: middle
            text-align: left
            @media #{$celular}
                text-align: center
            @media #{$celularh}, #{$tablet}, #{$notebook}
                width: 60px
            @media #{$desktop}
                width: 70px
            svg
                @media #{$celular}, #{$celularh}, #{$tablet}, #{$notebook}
                    width: 35px
                    height: 35px
                @media #{$desktop}
                    width: 37px
                    height: 37px
    // ----------------------------------------------------------------------------------------
    // MODAL: Close
    // ----------------------------------------------------------------------------------------
    &.image-modal
        .label-image-modal
            p
                @media #{$celular}, #{$celularh}
                    padding-top: 10px
                @media #{$tablet}, #{$notebook}, #{$desktop}
                    padding-top: 20px

    &.messagemodal
        .button-messagemodal
            text-align: center
            @media #{$celular}, #{$celularh}
                margin-top: 10px
            @media #{$tablet}, #{$notebook}, #{$desktop}
                margin-top: 20px

// ----------------------------------------------------------------------------------------
//
//
//                                  Mask
//
//
// ----------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------
// Mask: Base
// ----------------------------------------------------------------------------------------
.mask
    z-index: 10
    position: fixed
    top: 0
    right: 0
    bottom: -1px
    left: 0
    display: none

// ----------------------------------------------------------------------------------------
// Mask: Open condition
// ----------------------------------------------------------------------------------------
body
    &.maskopen
        overflow: hidden
        @media #{$notebook}, #{$desktop}
            padding-right: 15px

.wrap-slidermodal
    margin-right: auto
    margin-left: auto
    @media #{$celular}
        padding-top: 70px
        padding-bottom: 70px
    @media #{$celularh}
        // width: 300px
        padding-top: 20px
        padding-bottom: 20px
    @media #{$tablet}
        padding-top: 85px
        padding-bottom: 85px
    @media #{$notebook}
        width: 820px
        padding-top: 30px
        padding-bottom: 30px
    @media #{$desktop}
        width: 1000px
        padding-top: 40px
        padding-bottom: 40px

    .controlesslider
        &>a
            float: left
            svg
                height: 20px
                width: 20px
            &.anterior-controlesslider
                svg
                    @include prefix(transform, rotate(180deg), webkit ms moz o)
        .paginacao-controlesslider
            float: left
            li
                float: left
                a
                    &.flex-active
                        color: #FFF


// ----------------------------------------------------------------------------------------
// Menu Modal
// ----------------------------------------------------------------------------------------
#mmodal
    position: fixed
    top: 0
    height: 100%
    background: rgba(13, 76, 140, 0.98)
    z-index: 5
    @include prefix(transition, right .5s, webkit ms moz o)
    @media #{$celular}
        width: 100%
        right: -100%
        padding-top: 130px
    @media #{$celularh}
        width: 460px
        right: -460px
        padding-top: 60px
    @media #{$tablet}
        width: 480px
        right: -480px
        padding-top: 130px
    @media #{$notebook}
        width: 480px
        right: -480px
        padding-top: 130px
    @media #{$desktop}
        width: 600px
        right: -600px
        padding-top: 160px
    &.active
        right: 0
    .menu-mmodal
        text-align: center
        li
            &+li
                @media #{$celular}
                    margin-top: 10px
                @media #{$celularh}
                    margin-top: 10px
                @media #{$tablet}
                    margin-top: 15px
                @media #{$notebook}
                    margin-top: 15px
                @media #{$desktop}
                    margin-top: 20px
            a
                color: #FFF
                font-weight: 500
                text-transform: uppercase
                @media #{$celular}
                    font-size: 16px
                @media #{$celularh}
                    font-size: 16px
                @media #{$tablet}
                    font-size: 20px
                @media #{$notebook}
                    font-size: 20px
                @media #{$desktop}
                    font-size: 24px
    .social-mmodal
        text-align: center
        font-size: 0
        @media #{$celular}
            margin-top: 20px
        @media #{$celularh}
            margin-top: 20px
        @media #{$tablet}
            margin-top: 35px
        @media #{$notebook}
            margin-top: 35px
        @media #{$desktop}
            margin-top: 40px
        li
            display: inline-block
            &+li
                @media #{$celular}, #{$celularh}
                    margin-left: 10px
                @media #{$tablet}, #{$notebook}
                    margin-left: 10px
                @media #{$desktop}
                    margin-left: 13px
            a
                border-radius: 50%
                border: 2px solid #FFF
                background: #FFF
                @media #{$celular}, #{$celularh}
                    width: 28px
                    height: 28px
                @media #{$tablet}, #{$notebook}
                    width: 32px
                    height: 32px
                @media #{$desktop}
                    width: 40px
                    height: 40px
                svg
                    @media #{$celular}, #{$celularh}
                        margin-top: 5px
                        width: 13px
                        height: 13px
                    @media #{$tablet}, #{$notebook}
                        margin-top: 6px
                        width: 15px
                        height: 15px
                    @media #{$desktop}
                        margin-top: 10px
                        width: 17px
                        height: 17px
                    path,
                    polygon
                        fill: $cor2

// ----------------------------------------------------------------------------------------
// Menu modal icon
// ----------------------------------------------------------------------------------------
#mmenu
    position: fixed
    border: none
    background: none
    padding: 0
    margin: 0
    z-index: 6
    @include prefix(transform, rotate(0deg), webkit ms moz o)
    @include prefix(transition, .5s ease-in-out, webkit ms moz o)
    cursor: pointer
    @media #{$celular}, #{$celularh}, #{$tablet}
        width: 30px
        height: 20px
        right: 20px
        top: 17px
    @media #{$celularh}
        right: 50%
        top: 19px
        margin-right: -230px
    @media #{$tablet}
        right: 50%
        top: 19px
        margin-right: -320px
    @media #{$notebook}, #{$desktop}
        width: 36px
        height: 23px
        right: 20px
        top: 20px
        display: none
    span
        display: block
        position: absolute
        width: 100%
        background: $cor1
        opacity: 1
        left: 0
        @include prefix(transform, rotate(0deg), webkit ms moz o)
        @include prefix(transition, .25s ease-in-out, webkit ms moz o)
        height: 3px
        &:nth-child(1)
            top: 0px
        &:nth-child(2), &:nth-child(3)
            @media #{$celular}, #{$celularh}, #{$tablet}
                top: 8px
            @media #{$notebook}, #{$desktop}
                top: 10px
        &:nth-child(4)
            @media #{$celular}, #{$celularh}, #{$tablet}
                top: 16px
            @media #{$notebook}, #{$desktop}
                top: 20px
    &.active span
        &:nth-child(1)
            width: 0%
            left: 50%
            @media #{$celular}, #{$celularh}, #{$tablet}
                top: 15px
            @media #{$notebook}, #{$desktop}
                top: 18px
        &:nth-child(2)
            @include prefix(transform, rotate(45deg), webkit ms moz o)
        &:nth-child(3)
            @include prefix(transform, rotate(-45deg), webkit ms moz o)
        &:nth-child(4)
            width: 0%
            left: 50%
            @media #{$celular}, #{$celularh}, #{$tablet}
                top: 15px
            @media #{$notebook}, #{$desktop}
                top: 18px
